<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Demo Title
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/rubberduck.jpg" alt="rubberduck">
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
    <br>
    <ion-button  expand="block" (click)="goToLogin()">GoToLogin</ion-button>
  </ion-card>
</ion-content>
